---
import { db, Post } from "astro:db";

let endpointAlreadyExist = false;

if (Astro.request.method == "POST") {
    try {
        const data = await Astro.request.formData();
        const endpoint = data.get("endpoint").toString();
        const content = data.get("content").toString();

        const endpoints = await db.select().from(Post);

        endpoints.map((e) => {
            if (e.endpoint == endpoint) {
                endpointAlreadyExist = true;
            }
        });

        if (!endpointAlreadyExist) {
            await db
                .insert(Post)
                .values([{ endpoint: endpoint, content: content }]);
        }
    } catch (err) {
        console.log(err);
    }
}
---

{
    !endpointAlreadyExist ? (
        <p>Text published</p>
    ) : (
        <p class="text-red-500">Endpoint already exist</p>
    )
}
