---
let endpoint = "";
let content = "";
if (Astro.request.method == "POST") {
    try {
        const data = await Astro.request.formData();
        const end = data.get("endpoint").toString();
        const cont = data.get("content").toString();
        endpoint = end;
        content = cont;
    } catch (err) {
        console.log(err);
    }
}
---

<p>{endpoint}<br />{content}</p>
